In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(pd.read_csv("Demo.csv"))

In [8]:
df

  title description  amount
0     A      fruits    1000
1     B  vegetables    2000
2     C    utensils    3000

In [9]:
i= 0
for amount in df['amount']:
    amount = "${:,}".format(amount)
    df['amount'] = df['amount'].replace(df['amount'][i],amount)
    i+= 1

In [10]:
df

  title description  amount
0     A      fruits  $1,000
1     B  vegetables  $2,000
2     C    utensils  $3,000